*{
    font-family: 'Merriweather', serif;
    margin: 0;
}
.container{
    max-width:1320px;
    margin:0px auto;
}
.NY{
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("resources/Banner\ Image.png");
    background-repeat: no-repeat;
    text-align: center;
}

.banner p{
    padding-top: 177px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400px;
}
.banner h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.offer{
    margin-top: 120px;
    text-align: center;
}
.offer h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;
}
.offer p{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer h3{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.offer img{
    margin-top: 40px;
}
.chill{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("resources/Vectorrr.png");
    background-repeat: no-repeat;
    max-width: 1320px;
    height: 600px;
    text-align: left;
    margin-top: 120px;
} 
.welcome{
    padding-left: 126px;
    padding-top: 126px;
    position: relative;
}
.welcome h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
}
.welcome p{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.welcome button{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor:pointer;
    left:158px;
    top: 440px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.location{
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    width: 1320px;
    text-align: center;
    padding-top: 100px;
}
.location span{
    color: #F00;
}
.location p{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.location button{
    color: #FFF;
    border-radius: 8px;
    margin-top: 45px;
    padding: 16px 32px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.soon{
    display: flex;
    align-items: center;
}
.new{
    width:400px;
}
.new h3{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.new h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}
.new p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.circle{
    border: 15px solid #F00;
    border-radius:100%;
    padding: 40px;
    margin-left: 60px;
}
.wish{
    width:270px;
    margin-left: 110px;
} 
.wish h1{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.wish p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}
.offer h3{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.offer h1{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.offer span{
    color: #F00;
}
.offer p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
}
.overlap{
    position: relative;
    height: 663px;
    margin-top: 50px;
}
.girl{
    position: absolute;
    right: 0px;
    top:0px;
}
.discount{
    position: absolute;
    top:80px;
    right:280px;
}
.red{
    position: absolute;
    top:433px;
}
.box{
    position: absolute;
    left:0px;
    bottom: 0px;
}
.portfolio{
    margin-top: 120px;
}
.portfolio h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio h1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.portfolio p{
    margin-top: 20px;
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.portfolio img{
    opacity:0.5;
}
.portfolio img:hover{
    opacity: 1;
    cursor: pointer;
}
.subscribe{
    margin-top: 120px;
    text-align: center;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 80px;
}
.subscribe h1{
    margin-top: 40px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.subscribe p{
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.mail input[type="email"] {
    width: 440px;
    height: 70px;
    border:none;
    border-top-left-radius:50px; 
    border-bottom-left-radius:50px; 
    padding-left: 30px;
  }
.mail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px auto 80px;
}
.mail button {
    width:210px;
    padding:10px;
    height: 72px;
    color:white;
    background-color:red; 
    border:none; 
    border-top-right-radius:50px; 
    border-bottom-right-radius:50px; 
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.ending{
    background: #070211;
    position: relative;
}
.address{
    padding-top: 120px;
    padding-left: 140px;

}
.ending p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.contact{
    position: absolute;
    left:1074px;
    top:120px;
}
.contact p{
    align-items: center;
}
.contact img{
    margin-right: 16px;
}
.links{
    margin:0px auto;
   width: 350px;
   display: flex;
   justify-content: space-between;
}
hr{
    width: 1320px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    height: 1px;
    margin:50px auto;
}
.closing{
    width:1320px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
}