*{
    font-family: 'Merriweather', serif;
    margin: 0;
}
.container{
    max-width:1320px;
    margin:0px auto;
}
.NY{
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("resources/Banner\ Image.png");
    background-repeat: no-repeat;
    text-align: center;
}

.banner p{
    padding-top: 177px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400px;
}
.banner h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.offer{
    margin-top: 120px;
    text-align: center;
}
.offer h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;
}
.offer p{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer h3{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.offer img{
    margin-top: 40px;
}
.chill{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("resources/Vectorrr.png");
    background-repeat: no-repeat;
    max-width: 1320px;
    height: 600px;
    text-align: left;
    margin-top: 120px;
} 
.welcome{
    padding-left: 126px;
    padding-top: 126px;
    position: relative;
}
.welcome h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
}
.welcome p{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.welcome button{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor:pointer;
    left:158px;
    top: 440px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.location{
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    width: 1320px;
    text-align: center;
    padding-top: 100px;
}
.location span{
    color: #F00;
}
.location p{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.location button{
    color: #FFF;
    border-radius: 8px;
    margin-top: 45px;
    padding: 16px 32px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.soon{
    display: flex;
    align-items: center;
}
.new{
    width:400px;
}
.new h3{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.new h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}
.new p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.circle{
    border: 15px solid #F00;
    border-radius:100%;
    padding: 40px;
    margin-left: 60px;
}
.wish{
    width:270px;
    margin-left: 110px;
} 
.wish h1{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.wish p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}